
<h1 class="text-center">{{question?.title}}</h1>

<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 text-center"
    [ngClass]="{'bg-danger': question?.numFailed, 'bg-success': !question?.numFailed }">
    <h3>How many failed?</h3>
    <h3>{{question?.numFailed}}</h3>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 bg-info text-center">
    <h3>How many were tested?</h3>
    <h3>{{question?.numTested}}</h3>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Point in time:</dt>
  <dd>{{date | prettyDate}}</dd>

  <dt>Question module:</dt>
  <dd>{{questionModule}}</dd>
</dl>

<div *ngIf="question?.description" class="panel panel-default" >
<div class="panel-heading">Description of the question asked</div>
<div [innerHtml]="question?.description" class="panel-body"></div>
</div>

<div *ngIf="failList?.items">
<h3>Breakdown of the fails</h3>

<div class="fails-table center-block">
  <div class="pull-left "><button class="btn btn-default" type="button" (click)="tablePrevious()"
    *ngIf="failsOffset">Previous</button></div>
  <div class="pull-right "><button class="btn btn-default" type="button" (click)="tableNext()"
    *ngIf="tableHasMore()">Next</button></div>
  <div class="clearfix"></div>

<table class="table table-striped table-hover table-responsive">
<thead><tr>
  <th></th><th>Cell line</th><th>Batch</th>
</tr></thead>
<tbody><tr *ngFor="let fail of failList?.items; let i=index;">
<td>{{i + failsOffset +1}}</td>
<td><a [routerLink]="['/cell-lines', fail.cellLine]">{{fail.cellLine}}</a></td><td>{{fail.batch || 'N/A'}}</td>
</tr></tbody>
</table>

  <div class="clearfix"></div>
  <div class="pull-left "><button class="btn btn-default" type="button" (click)="tablePrevious()"
    *ngIf="failsOffset">Previous</button></div>
  <div class="pull-right "><button class="btn btn-default" type="button" (click)="tableNext()"
    *ngIf="tableHasMore()">Next</button></div>
  <div class="clearfix"></div>

</div>
</div>
