<ol class="breadcrumb">
  <li><a routerLink="/">Home</a></li>
  <li class="active">Questions</li>
</ol>

<p>This current view shows you details of <strong>all questions</strong> that got asked at a certain <strong>point in time</strong>. Click on any question for a more detailed breakdown.</p>

<h1 class="text-center">Questions asked at {{date | prettyDate}}</h1>

<div class="panel-group" role="tablist" aria-multiselectable="true">
<div *ngFor="let question of exam?.questions" class="panel panel-default"
      [ngClass]="{'panel-danger': question.numFailed }">
<div class="panel-heading clickable" (click)="uncollapsed[question.module] = !uncollapsed[question.module]">
  <h2 class="panel-title">{{question.title}} <span *ngIf="question.numFailed" class="fails-badge">{{question.numFailed}} fails</span></h2>
</div>
<div class="panel-collapse" role="tabpanel" *ngIf="uncollapsed[question.module]">
<div class="panel-body">
  <h4 class="text-right"><a [routerLink]="['/question', question.module]">Go to the question detail view</a></h4>
  <question-detail [questionModule]="question.module" [exam]="exam" [date]="date"></question-detail>
</div>
</div>
</div>
</div>
